.navbar {
    margin: 0px;
    border-radius: 6px;
    margin-left: -10px;
    margin-right: -10px;
    background-color: #67AACC;
    border-color: #67AACC;
    border: 0px solid #67AACC;
}

.navbar-default .navbar-brand {
    color: white;
}

.navbar-default .navbar-nav>li>a {
    color: white;
}

pre {
    -webkit-box-shadow: 0px 0px 6px 0px rgba(50, 50, 50, 0.2);
    -moz-box-shadow:    0px 0px 6px 0px rgba(50, 50, 50, 0.2);
    box-shadow:         0px 0px 6px 0px rgba(50, 50, 50, 0.2);
    background-color: #e8f0f8;
    color: #182F3A;
    /*     border:1px dashed; */
    border-radius: 6px;
    margin: 5px;
    margin-bottom: 10px;
    max-width:100%;
    padding: 10px;
}

.container {
    background-color: white;
    box-shadow: 1px 10px 15px 1px rgba(85,85,85,0.45);
    border-radius: 6px;
    padding-bottom: 15px;
    padding-left: 0px;
    padding-right: 0px;
    z-index: 2;
    position: relative;
}

#headerContainer {
    position: relative;
    display: flex;
}

.header {
    display: flex;
    margin-bottom: 0px;
    width: 100%;
    background-color: #E8EFF3;
    font-size: 20pt;
    line-height: 1.6;
}

.header a {
    color: #337AB7;
    text-decoration: none;
    font-size: medium;
}

#articleNavLeft {
    flex: 1;
    display: flex;
}

#articleNavRight {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

.article {
    padding-top: 5px;
    padding-left: 25px;
    padding-right: 25px;
}

html {
    overflow-y: scroll;
    position: relative;
}

body {
    background-color: #E8EFF3;
    /*     background-image: url("../images/bg.jpg"); */
    background-size: 100vw;
    position: inherit;
    overflow: hidden;
}

img {
    max-width: 100%;
    vertical-align: middle;
    border: 0;
    -ms-interpolation-mode: bicubic;
    margin-bottom: 10px;
    box-shadow: 1px 3px 15px 1px rgba(85,85,85,0.45);
    border-radius: 6px;
}

.noFancy {
    box-shadow: none;
    border-radius: 0px;
}

#date {
    display: inline-block;
    margin-right: 10px;
}

#date p {
    margin-bottom: 0px;
    margin-top: -10px;
}

#lastupdated {
    color: grey;
}

#tags {
    display: inline-block;
}

#tags p {
    margin-bottom: 0px;
}


#seriesContainer {
    position: relative;
    background-color: #03a6ca36;
    color: #25404E;
    text-decoration: none;
    font-size: large;
    text-align:center;
    vertical-align:middle;
    padding-left: 10px;
    padding-right: 10px;
}

#seriesHeader {
    position: absolute;
    top: 4px;
    right: 0px;
}

header.seriesHeader {
}

.glyphiconLinkSeries {
    font-size: 20px;
    color: white;
}

#seriesLeft {
    position: absolute;
    top: 1px;
    left: 4px;
}

#seriesRight {
    position: absolute;
    top: 1px;
    right: 4px;
}

.glyphiconLink:hover {
    text-shadow: 1px 0px 20px #DDEBFF;
    transition: all 0.3s ease-in;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    text-decoration: none;
}

.glyphiconLinkDisabled {
    font-size: 30px;
    color: grey;
    top: 5px;
}

.glyphiconLink {
    font-size: 30px;
    color: white;
    top: 5px;
}

.tagbtn {
    padding-right: 2px;
    padding-left: 2px;
    padding-top: 0px;
    padding-bottom: 0px;
    border-top-width: 0px;
    border-bottom-width: 0px;
    margin-left: 1px;
    margin-right: 1px;
    border-color: rgba(0, 128, 0, 0);
}

.seriesbtn {
    padding-right: 2px;
    padding-left: 2px;
    padding-top: 0px;
    padding-bottom: 0px;
    border-top-width: 0px;
    border-bottom-width: 0px;
    margin-left: 1px;
    margin-right: 1px;
    border-color: rgba(0, 128, 0, 0);
    background-color: #03a6ca;
}

.seriesbtn:hover {
    background-color: #0289a7;
}


#ArticleSourceCode {
    text-align: center;
    background-color: #f0f0f0;
}

p#tagCloud {
    text-align: center;
    margin-top: 10px;
}

p#seriesCloud {
    text-align: center;
}

#scrollUp {
    margin-top: 20px;
    margin-bottom: 300px;
    vertical-align: middle;
    text-align: center;
}

#scrollUpBtn {
    font-size: 30px;
    color: #337AB7;
}

#scrollUpBtn:hover {
    cursor: pointer;
    text-shadow: 1px 0px 20px black;
    transition: all 0.3s ease-in;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    text-decoration: none;
}

#timelineFilter {
    margin-bottom: 20px;
    border-left: 4px solid #67AACC;
    margin-left: 20px;
    padding-left: 20px;
}

.alert a{
    text-decoration: underline;
}

#titleNAV {
    display: inline-block;
    /*   position: fixed; */
    /*   left: 70px; */
    /*   top: 80px; */
    /*   font-size: 30px; */
}
.glyphicon-chevron-right {
    color: #337AB7;
}

.glyphicon-chevron-left {
    color: #337AB7;
}
/*

#titleNAV:hover {
  cursor: pointer;
  text-shadow: 1px 0px 20px black;
  transition: all 0.3s ease-in;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  text-decoration: none;
}*/

#SiteTitle {
    border-bottom: 2px #E8EFF3 dotted;
    margin-bottom: 0px;
}

div#tags a {
    font-size: small;
}

@media only screen and (max-width: 600px) {
    .article {
        padding-left: 5px;
        padding-right: 5px;
    }
    .timeline-series dt {
        font-size: 1.2em;
    }
    h1 {
        font-size: 28px;
    }
    h2 {
        font-size: 24px;
    }
    h3 {
        font-size: 20px;
    }
    h4 {
        font-size: 18px;
    }
    h5 {
        font-size: 17px;
    }
    h6 {
        font-size: 16px;
    }
}

ol ol, ol ul, ul ol, ul ul {
    margin-bottom: 10px;
}

blockquote {
    font-size: 14px;
    margin: 0 0 0 0;
}

.task-list {
    padding-left: 25px;
}

.task-list li {
    list-style-type: none;
}

.task-list li input {
    margin: 0 5px 0 0;
}

